@model AutoKolcsonzoApp.Models.Kolcsonzesek

@{
    ViewBag.Title = "Törlés";
}

<h2>Törlés</h2>

<h3>Biztos, hogy törölni akarja?</h3>
<div>
    <h4>Kolcsonzesek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KolcsonzesIdeje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolcsonzesIdeje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autok.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autok.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vevok.VezetekNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vevok.VezetekNev)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a listához", "Index")
        </div>
    }
</div>
