@model AutoKolcsonzoApp.Models.Kolcsonzesek

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kolcsonzesek</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KolcsonzesID)

        <div class="form-group">
            @Html.LabelFor(model => model.VevokID, "VevokID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VevokID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VevokID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoID, "AutoID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AutoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AutoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KolcsonzesIdeje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KolcsonzesIdeje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KolcsonzesIdeje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
