@model AutoKolcsonzoApp.Models.Vevok

@{
    ViewBag.Title = "Törlés";
}

<h2>Törlés</h2>

<h3>Biztos, hogy törli?</h3>
<div>
    <h4>Vevok</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VezetekNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VezetekNev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeresztNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeresztNev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonSzam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonSzam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza a listához", "Index")
        </div>
    }
</div>
