@model AutoKolcsonzoApp.Models.Vevok

@{
    ViewBag.Title = "Részletek";
}

<h2>Részletek</h2>

<div>
    <h4>Vevok</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VezetekNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VezetekNev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeresztNev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeresztNev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonSzam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonSzam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkeszt", "Szerkeszt", new { id = Model.VevoID }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
